@model ProductListModel
@{
    ViewData["Title"] = "Index";
}
<h1>Admin Products</h1>
<hr />
@if (Model.Products.Count() > 0)
{
    <table class="table table-border">
        <thead>
            <tr>
                <td>
                    ID
                </td>
                <td>
                    Image
                </td>
                <td>
                    Name
                </td>
                <td>
                    Price
                </td>
                <td ></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        <img src="~/img/@item.ImageURL" width="80" />
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm mr-2" href="/Admin/products/@item.ID">Edit</a>

                        <form action="/admin/deleteproduct" method="post" style="display:inline;">
                            <input type="hidden" name="productId" value="@item.ID" />
                            <button class="btn btn-danger btn-sm " type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>No Prodcts!</h4>
    </div>
}



